*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.home-page{
    width: 100%;
    height: 80vh;
    background:linear-gradient(rgba(0, 0, 0, 0.2)), url('../img/dog2.webp');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
#active{
    color: rgb(223, 54, 138);
}
.link0{
font-size: 14px;
font-weight: 600;
color: #fff;
}
.link0:hover{
    border-bottom: 2px solid rgb(223, 54, 138);
    color: rgb(223, 54, 138);
    text-shadow: #fff;
}
nav{
    z-index: 99999999999;
    background-color: rgba(0, 0, 0, 0.233);
    position: fixed;
}
.adopt-us{
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(to right, rgb(223, 54, 138), rgb(255, 200, 190),rgb(223, 54, 138));
    background-clip: text;
    color: transparent;
    position: absolute;
    bottom: 150px;
    left: 20px;

}
.link1{
    background-color: rgb(223, 54, 138);
    color: #fff;
    padding-bottom: 10px;
}
.link1:hover{
    border: 1px solid rgb(223, 54, 138);
    color: rgb(223, 54, 138);
    transition: 1s;
}
.box16{
    height: 100%;
}
.box17{
    color: rgb(223, 54, 138);
}
.box20{
     border: 10px solid white;
     margin-bottom: -40%;
}
.box21{
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:ease-in-out 0.5s;
}
.box22{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10%;
}
.box23{
    color: rgb(223, 54, 138);
}
.box21:hover{
    color: #fff;
    background-color: rgb(223, 54, 138);
}
.box21:hover .box23{
    color: #fff;
    transition: 1s;
}
.box33{
    background-color: rgba(192, 192, 192, 0.137);
}
.box34{
    color: rgb(223, 54, 138);
}
.box34:hover{
   color: #fff;
   transition: 800ms;
}
.box35{
    color: #fff;
}
.box35:hover{
    color: rgb(223, 54, 138);
}
.box36{
    margin-top: 0px;
}
@media only screen and (max-width: 576px){
    
    .link0{
        text-align: right;
        color: #000;
       
    }
    .home-list{
        background-color: #fff;
        width:100%;
        text-align: right;
       
         border-bottom: 2px solid rgb(223, 54, 138);
         border-top: 2px solid rgb(223, 54, 138);
         background-position: 30px;
    }
    .home-list0{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 2px solid rgb(223, 54, 138);
         border-top: 4px solid rgb(223, 54, 138);
         background-color: #fff;
    }
    .home-list1{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 4px solid rgb(223, 54, 138);
         border-top: 2px solid rgb(223, 54, 138);
    }
    .un-link {
        background-color: #fff;
        text-align: right;
        margin-left: 52%;
    }
    .home-page{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.20)), url('../img/dog2.webp');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-position: center;
}
.box22{
    padding-top: 15%;
}
.adopt-us{
    bottom: 50px;
}

}
@media only screen and (min-width:576px) and (max-width:768px){
    .home-page{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.20)), url('../img/dog2.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.link0{
        text-align: right;
        color: #000;
       
    }
    .home-list{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 2px solid rgb(223, 54, 138);
         border-top: 2px solid rgb(223, 54, 138);
    }
    .home-list0{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 2px solid rgb(223, 54, 138);
         border-top: 4px solid rgb(223, 54, 138);
    }
    .home-list1{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 4px solid rgb(223, 54, 138);
         border-top: 2px solid rgb(223, 54, 138);
    }
    .un-link {
        background-color: #fff;
        text-align: right;
        margin-left: 52%;
    }
.box22{
    padding-top: 15%;
}
}
@media only screen and (min-width:768px) and (max-width:810px){
    .home-page{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.20)), url('../img/dog2.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.link0{
        text-align: right;
        color: #000;
       
    }
    .home-list{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 2px solid rgb(223, 54, 138);
         border-top: 2px solid rgb(223, 54, 138);
    }
    .home-list0{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 2px solid rgb(223, 54, 138);
         border-top: 4px solid rgb(223, 54, 138);
    }
    .home-list1{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 4px solid rgb(223, 54, 138);
         border-top: 2px solid rgb(223, 54, 138);
    }
    .un-link {
        background-color: #fff;
        text-align: right;
        margin-left: 52%;
    }
.box22{
    padding-top: 20%;
}

}
@media only screen and (min-width:810px) and (max-width:992px){
        .home-page{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.20)), url('../img/dog2.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.link0{
        text-align: right;
        color: #000;
       
    }
    .home-list{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 2px solid rgb(223, 54, 138);
         border-top: 2px solid rgb(223, 54, 138);
    }
    .home-list0{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 2px solid rgb(223, 54, 138);
         border-top: 4px solid rgb(223, 54, 138);
    }
    .home-list1{
        background-color: #fff;
        width:100%;
        text-align: right;
         border-bottom: 4px solid rgb(223, 54, 138);
         border-top: 2px solid rgb(223, 54, 138);
    }
    .un-link {
        background-color: #fff;
        text-align: right;
        margin-left: 52%;
    }

.box22{
    padding-top: 20%;
}
   .adopt-us{
    bottom: 50px;
   }
}