*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#toggle{
    background-color: black;
    height: 20px;
    width: 50px;
    border-radius: 100px;
    position: relative;
}

.ball{
    background-color:white;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    position: absolute;
    left: 0;
    transform: scale(0.8);
    transition: 1s;
}

#toggle.active .ball{
    left: 30px;
}

body.active{
    background-color: black;
    transition: 1s;
    color: white;
}

#toggle.active{
    background-color: wheat;
    transition: 1s;
}